/node_modules
/vendor
/.env
/storage/*.key
/public/hot
/public/storage
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/bootstrap/cache/*.php
/.phpunit.result.cache
Homestead.yaml
.env
.env.production
*.log
.DS_Store
Thumbs.db
